.footer {
  padding: 30px 0;
  color: #fff;
  background-color: $color-dark;
}

.footer-inner {
  @include inner;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.copyright {
  @include copyright;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  margin-right: 520px;

}

.footer-phone {
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-decoration: none;
  color: #fff;
}

