.portfolio {}

.portfolio-inner {
  @include inner;
}

.portfolio-title {
  color: $color-dark;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  margin: 130px 0 97px;
  padding-bottom: 3px;
}

.portfolio-list {
  border: 2px dashed blue;
  display: flex;
  justify-content: space-between;
  padding: 0 82px;
  padding-bottom: 120px;
}

.portfolio-item {
  display: flex;
  margin-right: 20px;

}

.btn-portfolio-wrap {
  display: flex;
  justify-content: center;
}

.catalog {
  align-items: center;
  margin-bottom: 130px;
}
