

.portfolio-inner {
  @include inner;
}

.portfolio-title {
  color: $color-dark;
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  padding: 130px 0 100px;
}

.portfolio-list {
  display: flex;
  justify-content: space-between;
  padding: 0 82px;
  padding-bottom: 120px;
}

.portfolio-item {
  margin-right: 20px;

}

.portfolio-pic {
  position: relative;
}

.portfolio-desc {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  padding: 15px 0;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: rgba($color-dark, .3);
}

.btn-portfolio-wrap {
  display: flex;
  justify-content: center;
}

.porf {

  align-items: center;
  margin-bottom: 130px;
}
